/*Custom Style*/
h1
{ color: red;
}

.gray-border
{border: 1px solid gray;}

.sidebar
{
  color: #56A0D1;
  background-color: pink;
  min-height: 600px;
}
img {

}
.navbar-default, .container-fluid
{
  background-color:#7BAFD4 !important;
  border-color: #7BAFD4 !important;
  fill: #7BAFD4 !important;;
}
.navbar-default .navbar-brand
{
  color: #fff;
}
.navbar-default, .navbar-nav>li>a
{
    color: #fff !important;
  }.navbar {
    text-align: center;
  }
  .footer {
    text-align: center;
  }
.jumbotron{
  color: #fff !important;
  background-color: #fff !important;
}
